<TabDialog
  open={false}
  close={() => {console.log('close')}}
  closeLabel={'Cancel'}
  actionLabel={'save'}
  title={'Edit my info'}
>
  <div
    color={'#673ab7'}
    style={{ background: 'red' }}
  >
  	Hello
  </div>
</TabDialog>
