<TabDialog
  open={true}
  close={() => {console.log('close')}}
  closeLabel={'Cancel'}
  actionLabel={'save'}
  title={'Edit my info'}
>
  <div
    label={'Hello'}
  >
  	Hello
  </div>
  <div
    label={'Hello'}
  >
  	Hello
  </div>
  <div
    label={'Hello'}
  >
  	Hello
  </div>
</TabDialog>
